body {
  height: 100vh;
  background-color: black;
  background-image: url("https://i.ibb.co/72nKCSf/ccgc-Logo11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
