@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Itim&family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700&family=Raleway:wght@600&family=Roboto:wght@400;500;700;900&display=swapfamily=Oi&family=Open+Sans:wght@600&family=Poppins:wght@300;400;500;600;700;800;900&family=Varela+Round&display=swap');
@import url('https://fonts.cdnfonts.com/css/cubano');

html,body {
    height: 100%;
    margin: 0;
    /* padding-right: 0; */
}

/**** Global styles *****/

th {
    white-space: nowrap;
    overflow: hidden;
}

input[type="number"] {
    text-align: center;
  }

